
@import url(reset.css);

body{
    background-color: black;
    color: black;
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
}

h1{
    padding-bottom: 4px;
}


@font-face {
    font-family: 'Comfortaa';
    src: url(fnt/Comfortaa-VariableFont_wght.ttf);
}

sup{
    color: gray;
    font-size: xx-small;
}